body {
    margin: 0px;
}

.topo {
    height: 10vh;
    background-color: rgb(255, 17, 0);
}

.corpo {
    height: 80vh;
    background-color:rgb(255, 247, 0) ;
}

.rodape {
    height: 10vh;
    background-color: rgb(4, 67, 13);
}

.menulateral {
    height: 100%;
    width: 200px;
    background-color: rgb(223, 229, 229);
}